/* 
** Intro Section Styles
*/

.page_slider {
  position: relative;
  overflow: hidden;
  //fix slider bug on small screens
  clear: both;
  & > img {
    width: 100%;
  }

  h2 {
    font-size: 3em;
    margin: 0;
    line-height: 1;
  }
  h3 {
    font-size: 2em;
    margin: 0;
    line-height: 1;
  }
  h4 {
    font-size: 1.5em;
    margin: 0;
  }
  p {
    font-size: 1.2em;
    margin: 0;
  }

  @media(min-width: 992px) {
    h2 {
      font-size: 6em;
    }
    h3 {
      font-size: 3em;
    }
    h4 {
      font-size: 2.5em;
    }
    p {
      font-size: 1em;
    }
  }

  .flex-direction-nav .flex-prev {
    left: 2%;
    opacity: 1;
  }
  .flex-direction-nav .flex-next {
    right: 2%;
    opacity: 1;
  }

  .flexslider {
    //making every slide same height (stretch) for nice background on every slide
    .slides {
      display: flex;

      li{
        min-height: 800px;
        @media (max-width: 1199px) {
          min-height: 700px;
          img{
            display: none;
          }
        }
        @media (max-width: 991px) {
          min-height: 600px;
        }
      }
    }

    //ie bugfix with page_slider overlap
    &:before,
    &:after {
      content: '';
      display: block;
      clear: both;
    }

    .intro_layer img {
      width: auto;
      display: inline-block;
    }

    //uncomment if you need a shadow on your slider
    &.slider-shadow {
      padding-bottom: 50px;
      &:before,
      &:after {
        content: "";
        position: absolute;
        background: transparent;
        z-index: 1;
        bottom: 65px;
        left: 10px;
        width: 50%;
        height: 20%;
        max-width: 400px;
        box-shadow: 0 25px 20px rgba(0, 0, 0, 0.3);
        transform: rotate(-3deg);
      }
      &:after {
        right: 10px;
        left: auto;
        transform: rotate(3deg);
      }
    }
  }

  .intro_layers_wrapper {
    display: flex;
  }

  .intro_after_featured_word {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    @media(max-width: 400px) {
      display: none;
    }
  }

  .intro_layers {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0;

  }
  &.slider-1{
    .flex-control-nav{
      right: 100px;
      left: auto;
      li a::before{
        color: $darkColor;
      }
      @media (max-width: 991px) {
        right: auto;
        left: 50%;
        transform: translateX(-50%) rotate(90deg);
        bottom: -12px;
        top: auto;
        display: block;
        li + li{
          margin-left: 0;
        }
      }
    }
  }
  //dots - horizontal
  .flex-control-nav {
    position: absolute;
    width: auto;
    top: calc(50% + 40px);
    transform: translateY(-50%);
    right: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none outside none;
    counter-reset: li!important;

    li {
      display: block;
      padding: 0;
      list-style: none;
      line-height: 1;
      & + li {
        margin-top: 0;
      }
      a {
        width: 2px;
        height: 30px;
        border:none;
        opacity: 1;
        background-color: $lightColor;
        border-radius: unset;
        position: relative;
        &::before{
          content: '';
          position: absolute;
          left: 50%;
          top: 0;
          bottom: 0;
          transform: translate(-50%);
          width: 4px;
          border-radius: 3px;
          background-color: transparent;
          transition: all .3s ease-in-out;
        }
        &:hover,
        &.flex-active {
          &::before{
            background-color: $lightColor;
          }
        }
      }
    }
    @media (max-width: 1199px) {
      right: 50px;
    }
    @media (max-width: 768px) {
      right: auto;
      top: auto;
      left: 50%;
      bottom: 30px;
      transform: translateX(-50%);
      flex-direction:row;

      li +li {
        margin-top: 0;
        margin-left: 20px;
      }
    }
  }

  //lg and bigger layout
  @media(min-width: 300px) {

    .cs,
    .ds {
      background-color: transparent;
    }

    //description alignment
    //for intro with testimonials,
    //for static intro
    //.flexslider prefix removed
    .container-fluid,
    .container,
    img + .container {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;

    }

    [class*="col-"] {
      position: static;
      min-height: 0;
      margin-top: 0;
      margin-bottom: 0;

    }

    // center alignment for slide description
    .intro_layers_wrapper {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 15px;
      left: 15px;
      height: 100%;
      z-index: 5;

      @media (min-width: 600px) {
        .boxed & {
          padding-left: 60px;
          padding-right: 60px;
        }
      }
    }

    .intro_text_top .intro_layers {
      justify-content: flex-start;
    }
    .intro_text_bottom .intro_layers {
      justify-content: flex-end;
    }

    .intro_before_featured_word {
      line-height: 0.8;
      font-size: 20px;
      margin: 0;
      text-align: left;

      text-shadow: 0 0 7px rgba(0, 0, 0, 0.25);
    }
    .intro_featured_word {
      line-height: 0.9;
      white-space: nowrap;
      font-size: 50px;
      margin: 0;
      text-shadow: 0 0 13px rgba(0, 0, 0, 0.1);
    }

    .intro_after_featured_word {
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 1em;
      text-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    }

  }

  .intro_featured_word{
    position: relative;
    padding-bottom: 41px;
    color: $colorMain2;
    &::before{
      content: '';
      position: absolute;
      bottom: 2px;
      left: 0;
      display: inline-block;
      width: 20px;
      height: 5px;
      border-radius: 2px;
      background-color: $lightColor;
    }
    &::after{
      content: '';
      position: absolute;
      display: inline-block;
      width: 270px;
      bottom: 4px;
      left: 0;
      height: 1px;
      background-color: $lightColor;
    }

    & + p{
      margin-top: 50px;
      @media (max-width: 1199px) {
        margin-top: 40px;
      }
    }

    @media (max-width: 991px) {
      &::before,
      &::after{
        left: 50%;
        transform: translate(-50%);
      }
    }
  }

  .btn-slider{
    margin-top: 55px;
  }

  .flex-direction-nav {
    display: none;
  }

  @media (min-width: 992px) {

    .intro_layers_wrapper {
      padding: 100px 0;
    }

    .intro_featured_word {
      font-size: 60px;
    }

    .intro_after_featured_word {
      font-size: 16px;
      color: $lightColor;
    }
  }

  @media (min-width: 1199px) {
    .intro_featured_word {
      font-size: 110px;
      font-weight: bold;
      color: $colorMain2;
      white-space: nowrap;

      .container & {
        font-size: 138px;
      }
    }
  }

  //md and smaller - static container on small device
  @media (max-width: 991px) {
    & {
      text-align: center;
    }
  }
  .d-inline-block{
    width: 100%;
  }
  &.slider-1 {
    @media (min-width: 1199px) {
      .intro_layers{
        max-width: 450px;
      }
    }
    @media (min-width: 992px) {
      .intro_layers{
        max-width: 50%;
      }
    }
    .intro_before_featured_word{
      & h2,
      & h3,
      & h4,
      & h6,
      & p{
        font-size: 30px;
        font-family: 'Poppins', sans-serif;
        text-transform: uppercase;
        font-weight: bold;
        padding: 0;
      }
    }
    .intro_featured_word{
      & h2,
      & h3,
      & h4,
      & h6,
      & p{
        white-space: normal;
        padding: 0;
        margin-top: 20px;
        font-size: 200px;
        text-transform: uppercase;
        font-weight: bold;
        line-height: .8;
        margin-left: -13px;
      }
    }
    .intro_after_featured_word{
      & h2,
      & h3,
      & h4,
      & h6,
      & p{
        margin-top: 10px;
        text-align: right;
        padding-right: 100px;
        font-size: 24px;
        font-family: 'Poppins', sans-serif;
        text-transform: uppercase;
        color: lighten($darkgreyColor,7%);
        letter-spacing: normal;
        font-weight: bold;
      }
      text-shadow: none;
    }

    @media (max-width: 1199px) {
      .intro_layer{
        padding-left: 20px;
      }
      .intro_featured_word{

        & h2,
        & h3,
        & h4,
        & h6,
        & p{
          font-size: 165px;
          margin-left: -5px;
        }
      }
      .intro_after_featured_word{
        & h2,
        & h3,
        & h4,
        & h6,
        & p{

          padding-right: 45px;
        }
      }
    }
    @media (max-width: 991px) {
      .intro_layer{
        padding-left: 0;
        text-align: center;
      }
      .intro_before_featured_word{
        & h2,
        & h3,
        & h4,
        & h6,
        & p{
          padding-right: 0;
          text-align: center;
        }
      }
      .intro_featured_word{
        & h2,
        & h3,
        & h4,
        & h6,
        & p{
          font-size: 100px;
          margin-left: 0;
          text-align: center;
        }

      }
      .intro_after_featured_word{
        & h2,
        & h3,
        & h4,
        & h6,
        & p{
          padding-right: 0;
          text-align: center;
        }
      }
      .intro-layer{
        text-align: center;
      }
      .intro_after_featured_word + .intro-layer{
        margin-top: 30px;
      }
    }
    @media (max-width: 767px) {
      .intro_before_featured_word{
        & h2,
        & h3,
        & h4,
        & h6,
        & p{
          font-size: 20px;
        }
      }
      .intro_featured_word{
        & h2,
        & h3,
        & h4,
        & h6,
        & p{
          font-size: 60px;
        }
      }
      .intro_after_featured_word{
        & h2,
        & h3,
        & h4,
        & h6,
        & p{
          font-size: 20px;
        }
      }
    }
  }
  &.slider-2{
    .intro_before_featured_word{
      & h2,
      & h3,
      & h4,
      & h6,
      & p{
        font-size: 20px;
        font-weight: 300;
        font-family: 'Poppins', sans-serif;
        color: $colorMain;
        position: relative;
        &::before{
          content: '';
          display: inline-block;
          width: 40px;
          height: 1px;
          background-color: $colorMain;
          transform: translateY(-0.3em);
          margin-right: 20px;
        }
      }
    }
    .intro_featured_word{
      & h2,
      & h3,
      & h4,
      & h6,
      & p{
        white-space: normal;
        font-size: 70px;
        margin-top: 20px;
      }
    }
    .intro_after_featured_word{
      & h2,
      & h3,
      & h4,
      & h6,
      & p{
        letter-spacing: normal;
        font-size: 20px;
        font-weight: 400;
        font-family: 'Poppins', sans-serif;
        margin-top: 35px;
        text-transform: capitalize;
      }
    }
    .intro_after_featured_word{
      & + .intro-layer{
        margin-top: 90px;
      }
    }

    @media (max-width: 1199px) {
      .intro_featured_word{
        & h2,
        & h3,
        & h4,
        & h6,
        & p {
          font-size: 50px;
        }
      }
      .intro_after_featured_word{
        & h2,
        & h3,
        & h4,
        & h6,
        & p {
          margin-top: 20px;
        }
      }
      .intro_after_featured_word{
        & + .intro-layer{
          margin-top: 40px;
        }
      }
    }

    @media (max-width: 767px) {
      .intro_featured_word{
        & h2,
        & h3,
        & h4,
        & h6,
        & p {
          font-size: 40px;
          text-align: center;
        }
      }
      .intro_after_featured_word{
        & h2,
        & h3,
        & h4,
        & h6,
        & p {
          text-align: center;
        }
      }
      .intro_before_featured_word{
        & h2,
        & h3,
        & h4,
        & h6,
        & p {
          text-align: center;
          &::before {
            display: none;
          }
        }
      }
    }
  }


}
