//color schemes
//1
$styleNumber: '';
$colorMain: #ca416e;
$colorMain2: #219bf1;
$colorMain3: #dd8b20;
$colorMain4: #20aa2a;

//////bootstrap colors
//orange - warning

$colorPrimary: $colorMain;
//green
$colorSuccess: #4db19e;
//blue
$colorInfo: #007ebd;
//orange
$colorWarning: #eeb269;
//red
$colorDanger: #dc5753;