//color schemes
//2
$styleNumber: '2';
$colorMain: #219bf1;
$colorMain2: #ca416e;
$colorMain3: #dd8b20;
$colorMain4: #20aa2a;

//////bootstrap colors
//orange - warning

$colorPrimary: $colorMain;
//green
$colorSuccess: #388E3C;
//blue
$colorInfo: #2196F3;
//orange
$colorWarning: #FFC400;
//red
$colorDanger: #D50000;