//color schemes
//3
$styleNumber: '3';
$colorMain: #dd8b20;
$colorMain2: #ca416e;
$colorMain3: #219bf1;
$colorMain4: #20aa2a;

//////bootstrap colors
//orange - warning

$colorPrimary: $colorMain;
//green
$colorSuccess: #5BB75B;
//blue
$colorInfo: #006DCC;
//orange
$colorWarning: #FAA732;
//red
$colorDanger: #DA4F49;