/*
** 404
*/

.page_404 {
  background-image: url("../images/404.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: calc(100vh - 80px);
}

.error-404 {
  .page-header {
    h3 {
      font-size: 400px;
      font-weight: 600;
      line-height: 0.8;
    }
    p {
      text-align: left;
      font-size: 30px;
      letter-spacing: 1px;
      font-weight: 500;
      color: $lightColor;
      margin: 0;
    }
  }

  .page-content{
    & > p:first-child{
      font-size: 30px;
    }
  }

  .widget_search {
    margin: 58px 0;
  }

  @media (max-width: 1199px) {
    .page-header{
      h3{
        font-size: 200px;
        text-align: center;
      }
      p{
        text-align: center;
      }
    }
    .page-content{
      & > p:first-child {
        margin-right: 0;
        margin-top: 10px;
        span{
          &::before{
            display: none;
          }
        }
      }
    }
  }
  @media (max-width: 767px) {
    .page-header{
      h3{
        font-size: 150px;
      }
    }
  }
}