/*.widget_slider*/

.widget_slider {
  h4 {
    font-weight: 500;
    font-size: 20px;
    text-transform: none;
    line-height: 1;
    margin-bottom: 0.3em;
  }
  .item-content{
    padding-top: 30px!important;
  }
}
